<app-search-bar [isLoading]="(isLoading$ | async)!" (search)="onSearch($event)"></app-search-bar>

<app-loader *ngIf="(isLoading$ | async); else notLoading" size="50"></app-loader>

<ng-template #notLoading>
  <ul class="repositories-list" *ngIf="!(errorResponse$ | async)">
    <li class="repositories-list__item" *ngFor="let repository of repositories">
      <app-repository-details [repositoryDetails]="repository"></app-repository-details>
    </li>
  </ul>

  <div class="error" *ngIf="(errorResponse$ | async) as error">
    <p *ngIf="error.status === 404; else generalError">User not found.</p>

    <ng-template #generalError>
      <p>An error occurred, try again later.</p>

      <p>Error details: {{ error.status }} {{ error.statusText }}</p>
    </ng-template>
  </div>
</ng-template>
