$font-primary-color: #404040;

$white: #ffffff;
$gray-light: #fafafa;
$gray: #e6e6e6;
$gray-dark: #b5b5b5;

$primary-color: #01579b;
$primary-light-color: #3960a5;
$primary-dark-color: #0f2e68;

$success-color: #28db6d;
$warning-color: #ffbe2c;
$error-color: #e23e3e;
